body {
  font-family: 'Monserrat', sans-serif;
}
.visible {
  display: none; 
}
.month-heading, .year-heading {
  cursor: default;
}
.week-day {
  text-align: center;
  background-color: white;
  width: calc(100% / 7);
  cursor: default;
  text-align: center;
  font-size: smaller;
  user-select: none;
}
.month-day {
  width: calc(100% / 7);
  user-select: none;
}
.inactive {
  background-color: white;
  cursor: default;
}
.offday {
  background-color: rgba(215,211,226, 0.5);
  user-select: none;
}
.month-day:not(.inactive):hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
td.period:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
#calendar-content {
  flex-wrap: wrap;
  justify-content: space-evenly;
}